{% extends 'master/base.html' %}

{% block 'title' %}Home{% endblock %}

{% block 'content' %}
<section class="hero section-adjust">
    <div class="welcome">
        <i class="fas fa-graduation-cap"></i>
        <h2 class="welcome-text">Welcome</h2>
    </div>
    <div class="login-signup">
        <form action="#" method="POST" class="form-list">
            {% csrf_token %}
            <input type="email" id="email" name="email" class="form" placeholder="Send your email to Manager to Signup">
            <button class="signup-btn">Send</button>
        </form>
    </div>
</section>
{% endblock %}