{% extends 'master/full_screen.html' %}


{% block 'contents' %}
  <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m logincard">
        <h4>Enter new password</h4>
      {% include 'includes/message.html' %}
      <form class="uk-form-stacked" method="POST">

            <div class="uk-margin">
                <div class="uk-form-controls uk-inline">
                    <input class="uk-input uk-form-success uk-form-width-large" name="new_password1" type="password" placeholder="Password">
                </div>
            </div>
           <div class="uk-margin">
                <div class="uk-form-controls uk-inline">
                    <input class="uk-input uk-form-success uk-form-width-large" name="new_password2" type="password" placeholder="Password Confirmation">
                </div>
            </div>

          {% csrf_token %}
        <button type="submit" class="uk-button uk-button-primary" style="float:right;">Save</button>
      </form>

</div>
{% endblock %}
