<section class="side-nav section-adjust col-md-2">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action">Teachers</a>
        <a href="#" class="list-group-item list-group-item-action">Students</a>
        <a href="#" class="list-group-item list-group-item-action">Announcement</a>
        <a href="#" class="list-group-item list-group-item-action">Activity Log</a>
        
      </div>
</section>
<section style="height: 100vh;">
</section>