<section class="list-group">
    <a href="{% url 'manager_dashboard' %}" class="list-group-item list-group-item-action">
    Dashboard
    </a>
    <a href="{% url 'teachers_list' %}" class="list-group-item list-group-item-action">Teachers</a>
    <a href="{% url 'students_list' %}" class="list-group-item list-group-item-action">Students</a>
    <a href="#" class="list-group-item list-group-item-action">Announcement</a>
    <a href="#" class="list-group-item list-group-item-action">Activity Log</a>
    
</section>
