{% extends 'master/dashboard.html' %}

 {% block 'contents' %}
     <div uk-grid>
        {% include 'includes/dashboard_sidenav.html' %}
        <div class="uk-width-3-4@m content">
            <h3>Dashboard</h3>
             {% include 'includes/message.html' %}
            <div class="uk-card uk-card-default">
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos omnis sit veniam voluptatum? Accusamus aliquid consequuntur cupiditate debitis delectus eos, et harum inventore itaque iure minus natus rerum, veniam.
               </p>
            </div>
              <div class="uk-card uk-card-default">
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos omnis sit veniam voluptatum? Accusamus aliquid consequuntur cupiditate debitis delectus eos, et harum inventore itaque iure minus natus rerum, veniam.
               </p>
            </div>

        </div>
   </div>
 {% endblock %}