{% extends 'master/base.html' %}

{% block 'title' %}Add Teacher{% endblock %}

{% block 'topic' %}
    <h1 class="topic">Add Teacher</h1>
{% endblock  %}

{% block 'side-nav-included' %}
  {% include 'master/side-nav-included.html' %}
{% endblock  %}

{% block 'rest-of-content' %}
  <section class="col-md-4 offset-3">
      <form  class="add_teacher_form" method="POST">
          
        {{ AddTeacherForm }}
        <input type="text" name="username", placeholder="Give an username" class="form-control">
        <br>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
        {% csrf_token %}
      </form>
  </section>
{% endblock  %}   