{% extends 'master/full_screen.html' %}


{% block 'contents' %}
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m logincard">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
      <h3>OR</h3>
      <button class="uk-button uk-button-primary"><a href="{% url 'signin' %}" style="color:white;"> Login</a></button>
</div>
{% endblock %}
