@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Source+Sans+Pro&display=swap');


*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.list-group-item:focus{
    outline: 1px auto purple;
}
:root{
    --primarFont: 'Josefin Sans', sans-serif;
    --secondaryFont: 'Source Sans Pro', sans-serif;
    --primaryColor: #007f97;
    --primaryLetterSpacing: 0.5rem;
    --secondaryLetterSpacing: 0.2rem;
    --transition: all 0.2s ease-in-out;
}
/* Body Resets */
body{
    background: #fbfbfb;
}

img{
    width: 100%;
}

/* section, div{
    border: 2px solid red;
}

h1,h2,h3{
    border: 2px solid green;
} */


/* Body Resets End*/


/* Global */
button{
    width: 150px;
    padding: 1rem;
    font-size: 1rem;
    background: var(--primaryColor);
    border: none;
    color: white;

}

button:active{
    transform: scale(0.9);
}

.section-adjust{
    padding: 15px;
}
.topic{
    text-align: center;
}
/* Global End */

/* Header */
/* Nav */
header{
    width: 100%;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    
}

.logo{
    width:15vh;
}

.social{
   padding: 2rem; 
   font-size: 2rem;
}

.social > i{
    margin: 0.1rem;
    transition: var(--transition);
}
.social>i:hover{
    transform: scale(1.5);
}
/* Nav End */
/* Home */
.hero{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)),url('Hero/Hero.jpg')center/cover fixed no-repeat;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;  
}

.welcome{
    text-align: center;
    color: white;
    font-family: var(--primarFont);
    font-size: 2rem;
}

.welcome > i{
    font-size: 3rem; 
    color: black;  
}
.welcome-text{
    background: -webkit-linear-gradient(blue,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.login-signup{
    box-shadow: 5px 5px 10px black;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3));
    padding: 100px 40px;
    display: flex;
    gap: 1rem;  
    flex-direction: column;
}
/* Home End */

/* Login */
.login-btn, .signup-btn {
    margin:1rem 3rem;
}

.form-list{
    width: 100%;
    text-align: center;
    /* height: 100%; */
}

.form{
    width: 80%;
    height: 5vh;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--primarFont);
    margin: 1rem auto;
}
/* Login End */

/* Inside MAnager's, Teacher's, Student's Dashboardand similar */

.container-fluid{
    padding-left: 0;
}

.rest-of-content{
    padding:0 1rem;
}

.add > a >  i{
    font-size: 2rem;
    color: purple;
}

.utils{
    height: 10rem;
}

.add_teacher_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Inside MAnager's, Teacher's, Student's Dashboardand similar */


/* Header End*/

